.menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 99999;

}

/* NAVIGATION */

@media (max-width: 768) {

    .menu-toggle {
        display: block;
        PADDING: UNSET;
    }
    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
        transition: transform 0.3s ease;
    }
    /* BURGER ANIMATION */

    .menu-toggle.fermer span:nth-child(1) {
        animation: back-to-burger 0.7s ease-in-out;
    }

    .menu-toggle.fermer span:nth-child(2) {
        animation: display 0.7s ease-in-out;
    }

    .menu-toggle.fermer span:nth-child(3) {
        animation: back-to-burger-2 0.7s ease-in-out;
    }

    .menu-toggle.open span:nth-child(1) {
        animation: move-down 0.7s ease-in-out forwards;
    }

    .menu-toggle.open span:nth-child(2) {
        animation: clear 0.7s ease-in-out forwards;
    }

    .menu-toggle.open span:nth-child(3) {
        animation: move-up 0.7s ease-in-out forwards;
    }

    @keyframes move-down {
        50% {
            transform: translatey(6px) rotate(0deg);
        }

        100% {
            transform: translatey(6px) rotate(45deg);
        }
    }

    @keyframes move-up {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-6px) rotate(0deg);
        }

        100% {
            transform: translatey(-6px) rotate(135deg);
        }
    }

    @keyframes clear {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(0.5);
            opacity: 0.5;
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }

    @keyframes back-to-burger {
        0% {
            transform: translatey(6px) rotate(45deg);
        }

        50% {
            transform: translatey(6px) rotate(0deg);
        }

        100% {
            transform: translatey(0) rotate(0);
        }
    }

    @keyframes back-to-burger-2 {
        0% {
            transform: translatey(-6px) rotate(135deg);
        }

        50% {
            transform: translatey(-6px) rotate(0deg);
        }

        100% {
            transform: translatey(0) rotate(0);
        }
    }

    @keyframes display {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        50% {
            transform: scale(0.5);
            opacity: 0.5;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

}